body {
	background: #f3f3f3;
	color: #272727;
}

canvas,
body {
	margin: 0;
	padding: 0;
}
p {
	text-indent: 1em;
}

#barreOutil {
	width: 100%;
	height: 100px;
	background-color: rgb(210, 210, 210);
}

#canvas {
	background: whitesmoke;
}

.selected {
	background: #4ea2c9;
	color: #f3f3f3;
}

button {
	min-width: 60px;
	margin: 5px;
	width: auto;
	padding: 5px;
	height: 50px;

	border: none;
}
button:hover:not(.selected) {
	background-color: #fff0c1da;
	color: #272727;
}
#buttonsTools {
	background-color: #f3f3f3;
	color: #272727;
}
#buttonsTools button {
	margin: 0;
}
.interface {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-color: rgba(100, 100, 100, 0.5);
}

.interfaceContent {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}

.hidden {
	display: none;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid black;
	margin-bottom: 1em;
}

table th,
td,
tr {
	border: 1px solid black;
}

table th,
td {
	width: 3em;
	text-align: center;
	height: 1.5em;
}

.test {
	color: #272727;
}

.center {
	text-align: center;
}

.noPadding {
	padding: 0px;
}

.padding {
	padding-left: 10px;
}
